In [1]:
import pandas as pd

In [4]:
data = pd.read_csv(r"D:\Data_Analytics\Machine learning\Datasets\placement.csv")

In [5]:
data.head()

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [16]:
input=data.iloc[:,:-1]
output = data["package"]

In [17]:
input

     cgpa
0    6.89
1    5.12
2    7.82
3    7.42
4    6.94
..    ...
195  6.93
196  5.89
197  7.21
198  7.63
199  6.22

[200 rows x 1 columns]

In [18]:
output

0      3.26
1      1.98
2      3.25
3      3.67
4      3.57
       ...
195    2.46
196    2.57
197    3.24
198    3.96
199    2.33
Name: package, Length: 200, dtype: float64

In [11]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test = train_test_split(input,output,test_size=0.25)

In [20]:
data.shape

(200, 2)

In [21]:
x_train.shape,y_train.shape

((150, 1), (150,))

In [22]:
x_test.shape,y_test.shape

((50, 1), (50,))